Source: {{deb_srcpkg}}
Section: libdevel
Maintainer: {{deb_maint}} <{{deb_email}}>
Priority: extra
Build-Depends: debhelper (>= 9.20141010)
Homepage: {{homepage}}
Standards-Version: 3.9.6

Package: {{deb_binpkg}}
Architecture: all
Section: libdevel
Depends: ${misc:Depends}{% for d in depends %}{% if d.optional == 'false' %}, {{d.debpkg}} (>= {{d.version_req}}) [{{d.only_for_platform}}]{% endif %}{% endfor%}
Description: {{description | strip_newlines }}
{{description | deb_description}}
 .
 This package contains the source.
