Source: {{{deb_srcpkg}}}
Section: libdevel
Maintainer: {{{deb_maint}}} <{{{deb_email}}}>
Priority: extra
Build-Depends: debhelper (>= 9.20141010)
{{~#if homepage}}
Homepage: {{{homepage}}}
{{~/if}}
Standards-Version: 3.9.6

Package: {{{deb_binpkg}}}
Architecture: all
Section: libdevel
Depends: ${misc:Depends}
{{~#each depends}}
{{~#unless optional}}, {{debpkg}} (>= {{version_req}})
{{~#if only_for_platform}} [{{only_for_platform}}]{{/if}}
{{~/unless}}
{{~/each}}
Description: {{#strip_newlines}}{{description}}{{/strip_newlines}}
{{#deb_description}}
{{~../description}}
This package contains the source.
{{~/deb_description~}}
